@charset "UTF-8";

//
// Shared Image Banner (stanford_banner) styles.
//

.node--stanford-person, .ds-entity--stanford-person {
  .su-card {

    .stanford-person.su-person-photo {
      padding: 10px 0px;

      img, picture {
        max-width: 200px;

        @media (min-width: 576px) {
          max-width: 150px;
        }
      }
    }
    
    .su-card__contents {
      text-align: center;
      
      @media (max-width: 575px) {
        padding-top: 10px;
      }

      .su-person-short-title {
        max-width: 90%;
        margin: auto;
      }
    }
  }
}

// Fix the width in this case since the short title inside it is just text with no css selectors.
.node--stanford-person.ds-entity--stanford-person .su-card .su-card__contents {
  max-width: 90%;
}
