.hide-section {
    /* Note this may be used with setting the title inside to 'visually-hidden' and then hiding the section space. */
    display: none;
    height: 0;
    margin-bottom: -58px;
}

.ptype-stanford-layout {
    .layout--layout-paragraphs-three-column,
    .layout-paragraphs-two-column--50-50 { // make sure we leave it wider for the uneven column layouts.

        @media screen and (min-width: 1440px) {
            max-width: 1100px;
        }
    
        @media screen and (min-width: 1700px) {
            max-width: 1100px; // was 1500px
        }

        .su-media__caption {
            @include vicf-type-0;
            text-align: left;
            color: $su-color-black;
        }
    }
}

.content > .jumpstart-ui--two-column.centered-container {
    width: 100%;
    max-width: 100%;
}