@charset "UTF-8";

// VPSA ICF Subtheme color variables.
// Stanford/Decanter colors are NOT redefined here — only theme-specific overrides.
//
// Naming convention: $vicf-color-[name]
// Example: $vicf-color-navy: #001f5b;
$vicf-color-poppy-light: #FEFAD7;

$su-color-black: #2E2D29; // figma uses #000 for black, but Stanford Identity Guide says to use #2E2D29 for black.
$su-color-digital-red: #B1040E;
$su-color-digital-red-dark: #820000;
// need to double check hover color for links because hocus is blank in the stanford sites figma... 
// https://www.figma.com/design/gkcOBXV2ht0qVrupN0r8Kz/Stanford-Sites-Jemison-Design-System?node-id=263-74&p=f&m=dev